<?xml version="1.0"?>
<WxPaymentConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppId>wx26cb5152def1a1fd</AppId>
  <Mch_Id>1251904501</Mch_Id>
  <Key>tingdaxmt98765432101234567890666</Key>
  <AppSecret>8deaf277b3d3064179968e7f0507b711</AppSecret>

  <!--接收微信通知的Url-->
  <!--<NOTIFY_URL>http://111.203.248.34:23780/Payment/WxPayNotify</NOTIFY_URL>-->
  <NOTIFY_URL>http://beta3.xuexiba.com/Payment/WxPayNotify</NOTIFY_URL>
  <TimeOut>10</TimeOut>
  <UnifiedOrderUrl>https://api.mch.weixin.qq.com/pay/unifiedorder</UnifiedOrderUrl>
  <OrderQueryUrl>https://api.mch.weixin.qq.com/pay/orderquery</OrderQueryUrl>
  　  　  <OutTradeNoPrefix>这个不用了，在程序里去控制它</OutTradeNoPrefix>
</WxPaymentConfig>