<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--LoggerType:File,Log4net,MongoDB-->
    <add key="LoggerType" value="MongoDB"/>
    <add key="ProjectName" value="LDLR.Core"/>
    <!--日志级别: DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <add key="LoggerLevel" value="DEBUG"></add>

    <add key="MongoDB_Host" value="localhost:27017,localhost:27018,localhost:27018"/>
    <add key="MongoDB_DbName" value="background"/>
    <add key="MongoDB_UserName" value=""/>
    <add key="MongoDB_Password" value=""/>
  </appSettings>
</configuration>