<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!--BEGIN: Unity-->
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>
      <extension type="Interception" />
      <!--被拦截的类型-->
      <register type="LDLR.Core.Test.AOP,LDLR.Core.Test"  mapTo="LDLR.Core.Test.AOP,LDLR.Core.Test">
        <interceptor type="VirtualMethodInterceptor"/>
        <!--InterfaceInterceptor,VirtualMethodInterceptor,TransparentProxyInterceptor，这种方法要求被拦截的类继承MarshalByRefObject-->
        <interceptionBehavior  type="LDLR.Core.IoC.Interception.ExceptionLoggingBehavior,LDLR.Core" />
        <!--拦截行为-->
      </register>
    </container>
  </unity>

</configuration>