<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="constr" value="server=192.168.30.75;uid=sa;pwd=sa;database=WangWangDog"/> 
    <add key="ip" value="192.168.30.178:8554"/> 

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
