<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- 普通类型注入-->
      <register  type="EntityTest.IUser,EntityTest" mapTo="DataTest.UserRepository, DataTest" />
      <!--泛型类型注入-->
      <register  type="IRepository.Core.IExtensionRepository`1,IRepository.Core" mapTo="DataTest.BackgroundRepository`1, DataTest" />
    </container>
  </unity>

  <appSettings>
    <!-- 动态批量添加注入的类型-->
    <add key="unityDynamicAssembly" value="server.implement*.dll,data.*.dll"/>
    <add key="unityCachingDoing" value="1" />

    <add key="dependencyResolverTypeName" value="RoRoWo.Blog.Common.IoCResolver.Unity.UnityDependencyResolver, RoRoWo.Blog.Common" />
  </appSettings>

</configuration>