<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDB_Host" value="localhost:27017,localhost:27018,localhost:27018"/>
    <add key="MongoDB_DbName" value="background"/>
    <add key="MongoDB_UserName" value=""/>
    <add key="MongoDB_Password" value=""/>
  </appSettings>
</configuration>