<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="ConfigManager_Unity">
      <!--泛型类型注入-->
      <register  type="LDLR.Core.IRepositories.IRepository`1,LDLR.Core" mapTo="LDLR.Core.Repositories.Xml.XmlRepository`1, LDLR.Core.Repositories.Xml" />
    </container>
  </unity>

</configuration>