<?xml version="1.0" encoding="utf-8" ?>
<ApiValidateModelConfig>
  <ApiValidateModelList>
    <ApiValidateModel>
      <AppKey>lind</AppKey>
      <AppName>大叔</AppName>
      <PassKey>lind123</PassKey>
      <ExpireDate>2016-12-12</ExpireDate>
      <ValidateMinutes>30</ValidateMinutes>
    </ApiValidateModel>
    <ApiValidateModel>
      <AppKey>zzl</AppKey>
      <AppName>占岭</AppName>
      <PassKey>zzl123</PassKey>
      <ExpireDate>2016-12-12</ExpireDate>
      <ValidateMinutes>30</ValidateMinutes>
    </ApiValidateModel>
  </ApiValidateModelList>
</ApiValidateModelConfig>
