<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <!-- 支付宝相关-->
    <add key="DoMain" value="https://商家网站域名" />
    <add key="SiteName" value="商家网站名称" />
    <add key="AlipayGateway" value="https://www.alipay.com/cooperate/gateway.do?" />
    <!--移动端wap使用本地址:http://wappaygw.alipay.com/service/rest.htm?-->
    <add key="AlipayService" value="create_direct_pay_by_user" />
    <add key="AlipayPartner" value="商家账号" />
    <add key="AlipayReturnUrl" value="http://117.79.226.226:1009/Order/AlipayReturn/" />
    <add key="AlipayNotifyUrl" value="http://117.79.226.226:1009/Order/AlipayNotify/" />
    <add key="AlipayInputCharSet" value="utf-8" />
    <add key="AlipayPaymentType" value="1" />
    <add key="AlipayShowUrl" value="http://www.eee114.com/" />
    <add key="AlipaySellerEmail" value="商家电子邮件" />
    <add key="AlipayKey" value="商家key" />
    <add key="AlipayPayMethod" value="directPay" />
    <add key="AlipayWAPNotifyUrl" value="http://117.79.226.226:800/Recharge/AlipayNotify"/>
    <add key="AlipayWAPCallbackUrl" value="http://www.xuexiba.dev/Recharge/AlipayCallback"/>
    <add key="AlipayWAPMerchantUrl" value="http://www.xuexiba.dev/recharge/AlipayMerchant"/>
    <add key="AlipayWAPPrivateKey" value="商家私钥"/>
    <add key="AlipayWAPPublicKey" value="商家公钥"/>

　    
    <!--银联-->
    <add key="ChinaPayAction" value="http://apps.chinapay.com/cpeduinterface/OrderGet.do" />
    <!--商户ＩＤ-->
    <add key="ChinaPayMerId" value="808080450104713" />
    <!--货币类型-->
    <add key="ChinaPayCuryId" value="156" />
    <!--银联版本-->
    <add key="ChinaPayVersion" value="20100401" />
    <!--后台回调-->
    <add key="ChinaPayBgRetUrl" value="http://117.79.226.226:1009/Order/ChinaPayReturn" />
    <!--前台回调-->
    <add key="ChinaPayPageRetUrl" value="http://117.79.226.226:1009/Order/ChinaPayNotify" />
    <!--私钥-->
    <add key="ChinaPayPriKeyPath" value="chinapay/MerPrK_808080450104713_20110513152540.key" />
    <!--公钥-->
    <add key="ChinaPayPubKeyPath" value="chinapay/PgPubk.key" />
    <add key="ChinaPayGateId" value="" />
    <add key="ChinaPayBusiId" value="" />
    <add key="ChinaPayShareType" value="0001" />
    <add key="ChinaPayShareData" value="00042060^" />
  </appSettings>
</configuration>

