<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TrackerSection" type="LDLR.Core.FastDFS.TrackerSection, LDLR.Core"/>
  </configSections>


  <!--FasDFS配置节点-->
  <TrackerSection>
    <trackers>
      <!--<add Host="192.168.2.220"  Port="22122" Weight="1" />-->
      <add Host="60.195.251.71" Port="22122" Weight="1"/>
      <add Host="60.195.251.72" Port="22122" Weight="1"/>
    </trackers>
  </TrackerSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
