<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="Redis.Client.RedisConfigInfo, Redis.Client"/>
  </configSections>

  <connectionStrings>
    <add name="TsingDa.RedisService.Properties.Settings.TsingDa_qingdahuoliConnectionString"
      connectionString="Data Source=192.168.2.101;Initial Catalog=TsingDa_qingdahuoli;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <RedisConfig WriteServerList="192.168.2.50:6379" ReadServerList="192.168.2.50:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>

  <appSettings>
    <add key="interval" value="1" />
    <add key="logpath" value="E:\\log\*.log" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>